#cookie-bar {
    box-sizing: border-box;
    position: fixed;
    background: yellow;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    left: 0;
    right: 0;
}
div#cookie-text {float: left;}

div#cookie-controller {
    float: right;
}
span#cookie-controller-span {
    cursor:  pointer;
}